<nav class="sidebar">
    <div class="sidebar-heading">
        <div class="">
            <img src="img/logo.png" alt="Log처tipo" class="img-fluid mr-3">
            Painel de controlo
        </div>
        <div class="funcao mt-2"></div>
    </div>
    <ul class="nav nav-sidebar">
        <li class="sidebar-filas">
            <a href="/dashboard">
                <i class="fas fa-user-friends mr-3"></i>
                Gest찾o de filas
            </a>
        </li>
        <li class="sidebar-painel">
            <a href="/painel">
                <i class="fas fa-ticket-alt mr-3"></i>
                Painel Senhas
            </a>
        </li>
        <li class="sidebar-balcoes">
            <a href="/balcoes">
                <i class="fas fa-desktop mr-3"></i></i>
                Gest찾o dos balc천es
            </a>
        </li>
        <li class="sidebar-clientes">
            <a href="/clientes">
                <i class="fas fa-users mr-3"></i>
                Lista de clientes
            </a>
        </li>
        <li class="sidebar-register">
            <a href="/register">
                <i class="fas fa-user-plus mr-3"></i>
                Registar utilizador
            </a>
        </li>
    </ul>
    <ul class="nav nav-sidebar" id="sidebar-footer">
        <li class="pl-3"><%= nome %></li>
        <li class="balcao-atual pl-3"></li>
        <li><a href="/logout">Logout<i class="fas fa-sign-out-alt ml-2"></i></a></li>
    </ul>
</nav>