<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <title>Dashboard</title>
</head>
<body>
    <div class="d-flex wrapper">

        <%- include ('includes/sidebar') %>

        <div class="container-fluid">
            <div class="content">
                <div class="fila row">
                    <div class="fila-header col-1">
                        A
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        temptemptemp
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-A">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span class="next-A">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn btn-chamar" data-toggle="modal" data-target="#senha-modal" data-backdrop="static" data-keyboard="false" data-fila="A">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        B
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        temptemptemp
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-B">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span class="next-B">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn btn-chamar" data-toggle="modal" data-target="#senha-modal" data-backdrop="static" data-keyboard="false" data-fila="B">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        C
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        temptemptemp
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-C">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span class="next-C">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn btn-chamar" data-toggle="modal" data-target="#senha-modal" data-backdrop="static" data-keyboard="false" data-fila="C">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        D
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        temptemptemp
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-D">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span class="next-D">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn btn-chamar" data-toggle="modal" data-target="#senha-modal" data-backdrop="static" data-keyboard="false" data-fila="D">CHAMAR</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Senha -->
        <div class="modal fade" id="senha-modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Senha ---</h5>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- TODO Dados do cliente ??? -->

                    </div>
                    <div class="modal-footer">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                Transferir para outra lista
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="atender-senha">Marcar como atendido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/a747b443e5.js" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
const socket = io('http://localhost:3000');

socket.emit('dashboard');

socket.on('dashboard-filas', (data) => {
    const qtd = ['#qtd-A', '#qtd-B', '#qtd-C', '#qtd-D'];
    const next = ['.next-A', '.next-B', '.next-C', '.next-D'];
    populateUsers(qtd, data.users);
    populateSenhas(next, data.senhas);
    // TODO tempo de espera

});

$('#senha-modal').on('show.bs.modal', function(e) {
    socket.emit('dashboard');
    const button = $(e.relatedTarget);
    const fila = button.data('fila');
    const modal = $(this);
    modal.find('.modal-title').attr('class', `modal-title next-${fila}`);
});

// Ao carregar no botão de chamar
$('.btn-chamar').click(function() {
    const fila = $(this).data('fila');
    const balcao = $('.balcao-atual').data('id');
    socket.emit('chamar-senha', fila, balcao);
});

// Ao marcar o cliente como 'atendido'
$('#atender-senha').click(function() {
    socket.emit('senha-atendida');
    //TODO enviar fila
});

// TODO
// O médico deverá poder ainda transferir o cliente de uma lista para outra no atendimento(diagnostico inicial errado)
// fazendo com que o cliente vá para o fim dessa lista no servidor(a menos que seja prioritário)

mostrarFuncao('<%= nivel %>', '<%= id %>');

</script>

</html>