<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <title>Dashboard</title>
</head>
<body>
    <div class="d-flex wrapper">

        <%- include ('includes/sidebar') %>

        <div class="container-fluid">
            <div class="content">
                <div class="fila row">
                    <div class="fila-header col-1">
                        A
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        asdhuyasd
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-A">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span id="next-A">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        B
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        asdhuyasd
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-B">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span id="next-B">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        C
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        asdhuyasd
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-C">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span id="next-C">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn">CHAMAR</button>
                    </div>
                </div>
                <div class="fila row">
                    <div class="fila-header col-1">
                        D
                    </div>
                    <div class="fila-desc col-2">
                        Fila de espera <br>
                        asdhuyasd
                    </div>
                    <div class="fila-espera col-2">
                        <p>Em espera</p>
                        <i class="fas fa-users"></i> <span id="qtd-D">0</span>
                    </div>
                    <div class="fila-next col-5">
                        <p>Próxima senha</p>
                        <span id="next-D">...</span>
                    </div>
                    <div class="fila-call col-1">
                        <button class="btn">CHAMAR</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/a747b443e5.js" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
const socket = io('http://localhost:3000');

socket.emit('dashboard');

socket.on('dashboard-filas', (data) => {
    const qtd = ['#qtd-A', '#qtd-B', '#qtd-C', '#qtd-D'];
    const next = ['#next-A', '#next-B', '#next-C', '#next-D'];
    populateUsers(qtd, data.users);
    populateSenhas(next, data.senhas);
});

mostrarFuncao('<%= nivel %>');

//TODO Botão CHAMAR
</script>

</html>