<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Senhas</title>
</head>

<body>
    <div class="container-fluid">
        <h1 id=fila-status></h1>
        <div class="div-buttons">
            <button class="btn btn-primary btn-senha" value='A'>
                A - Coisa 1
            </button>

            <button class="btn btn-primary btn-senha" value='B'>
                B - Coisa 2
            </button>

            <button class="btn btn-primary btn-senha" value='C'>
                C - Coisa 3
            </button>

            <button class="btn btn-primary btn-senha" value='D'>
                D - Coisa 4
            </button>
        </div>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
const socket = io('http://localhost:3000');
let fila;
const btnSenha = $('.btn-senha');

btnSenha.click(function() {
    $('.div-buttons').hide();
    fila = $(this).val();
    socket.emit('new-user', fila);
});

socket.on('users-in-fila', (numUsers) => {
    $('#fila-status').text(`${numUsers} pessoa(s) na fila`);
});

socket.on('user-left', (fila) => {
    socket.emit('get-number-users', fila);
});

</script>

</html>