* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.login {
	background: #f2f2f2;
	box-shadow: 10px 10px 0px -3px rgba(230, 227, 230, 1);
}

.form-login {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-login .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}

.sidebar {
	min-height: 100vh;
	margin-left: 0;
	background: #121212;
	width: 16rem;
}

.sidebar .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.1rem;
	color: white;
}

.sidebar .sidebar-heading img {
	width: 48px;
	height: 48px;
}

.sidebar ul {
	color: white;
}

.sidebar li {
	padding: 5px;
	width: 16rem;
	display: block;
	font-size: 1em;
}

.sidebar li a {
	text-decoration: none;
	color: inherit;
	padding: 10px;
	width: 16rem;
	display: block;
	font-size: 1.1em;
}

.sidebar li a:hover {
	background: white;
	color: #140a2c;
}

#sidebar-footer {
	position: absolute;
	display: inline-block;
	bottom: 0;
}

.content {
	padding: 40px;
}

.container-fluid {
	background: #f2f2f2;
}

.fila {
	background: white;
	border-left: 5px solid forestgreen;
	width: 75vw;
	margin: 0 20px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 0px -3px rgba(230, 227, 230, 1);
}

.fila > * {
	color: #1b1e27;
}

.fila .fila-header {
	font-size: 4rem;
	margin-left: 15px;
	text-align: center;
}

.fila .fila-desc {
	border-right: 2px solid #e8e8e8;
	margin: auto 0;
	font-size: 1.2rem;
}

.fila .fila-espera {
	margin: auto 0;
	margin-left: 10px;
}

.fila .fila-next {
	margin: auto 0;
}

.fila .fila-call {
	margin: auto 0;
}

.div-senhas {
	background: white;
	color: #140a2c;
	padding: 20px;
	font-size: 40px;
}

.div-slideshow {
	background: #140a2c;
	color: white;
	max-height: 100%;
}

.relogio {
	font-size: 1.5rem;
}

.senha {
	text-align: left;
	background: #140a2c;
	color: white;
	padding-left: 15px;
}

.btn-custom {
	background: #140a2c;
	color: white;
}

.btn-custom:hover {
	background: #241251;
	color: white;
}

.fa-trash-alt {
	color: red;
}

.fa-circle.on {
	color: green;
}

.fa-circle.off {
	color: red;
}

#slideshow {
	/* margin: auto;
	margin-top: 20px;
	position: relative;
	width: 800px;
	height: 600px;
	padding: 10px;
	display: inline-block; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column; */
}

#slideshow > div {
	/* position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px; */
}

.noticia {
	/* width: inherit;
	height: inherit; */
	/* width: 50%; */
}

.noticia-img-div {
	/* max-width: inherit;
	max-height: inherit; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; */
}

.noticia-img {
	/* max-width: 100%;
	width: auto;
	height: auto;
	display: block;
	margin: auto; */
	/* flex-shrink: 0;
	min-width: 100%;
	min-height: 100%; */
	max-height: 600px;
	max-width: 700px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
}

.btn-senha {
	padding: 20px 25px;
	font-size: 1.5rem;
	margin-bottom: 15px;
}

#form-cliente {
	display: none;
}
